<div class="bg-fundo"></div>
<h1 class="title">Peça ajuda ao Peter Parker</h1>

<p class="description">
O seu tio Osvaldo é dono da Vitruvian Pizza, uma pizzaria de Nova Iorque, onde você acaba de ser contratado como entregador. Em seu primeiro dia no trampo, 
você recebe uma série de pedidos e começa a ficar nervoso, sem conseguir lidar com toda demanda você decide pedir ajuda para um de seus colegas de trabalho. 
Por sorte, esse colega que você solicita ajuda não é nada mais nada menos que o Peter Parker. Como Peter por algum mistério é o entregador mais rápido, você
decide repassar para ele os pedidos mais demorados.<br/>
Dê para Peter quantos pedidos de pizza você recebeu e fale para ele quantas pizzas ele deve entregar. Depois disso olhe as comandas e tente estimar, qual é o
maior tempo que Peter Parker levará para entregar as pizzas solicitadas.<br/>
Esse problema é inspirado na questão <a href="https://www.urionlinejudge.com.br/judge/pt/problems/view/1286">1286 do URI</a>.
</p>

<br />

<mat-grid-list cols="2" rowHeight="2:1" class="mat-grid_height">
  <mat-grid-tile>
    <div class="button-row" *ngIf="isOn">
      <form class="container" [formGroup]="options">
        <mat-form-field appearance="fill" style="width:100%">
          <mat-label>Quantas entregas você recebeu?</mat-label>
          <input matInput type="number" placeholder="Ex. 12" [formControl]="orderControl" min="5">
          <span matSuffix>entregas</span>
          <mat-error *ngIf="orderControl.invalid">Min size: 5</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:100%">
          <mat-label>Quantas pizzas Peter Parker tem que entregar?</mat-label>
          <input matInput type="number" placeholder="Ex. 12" [formControl]="pizzaControl" min="1">
          <span matSuffix>pizzas</span>
          <mat-error *ngIf="pizzaControl.invalid">Obrigatório</mat-error>
        </mat-form-field>
      </form>
    
      <button mat-raised-button (click)="generateOrders()">Calcular</button>
    </div>

    <div class="wrap-cards">
      <mat-card class="inline-block" *ngFor="let order of orders">
        <mat-card-header>
          <mat-card-title>Pedido {{ order.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ order.quantity }} Pizzas para ser entregue</p>
          <p>{{ order.time }} Minutos para o pedido total</p>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="button-row" *ngIf="alreadyGetOrders">
      <form class="container" [formGroup]="resultForm">
        <mat-form-field appearance="fill" style="width:150%">
          <mat-label>Qual é o tempo máximo que você quer que Peter Parker leve?</mat-label>
          <input matInput type="number" placeholder="Ex. 12" [formControl]="resultControl" min="5">
          <span matSuffix>minutos</span>
        </mat-form-field>
      </form>
    
      <button mat-raised-button (click)="getResponse()">Calcular</button>
    </div>
  </mat-grid-tile>
</mat-grid-list>



<br />

<br />

<router-outlet></router-outlet>